<h1>Listing pdf_export_settings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pdf_export_settings.each do |pdf_export_setting| %>
  <tr>
    <td><%= link_to 'Show', pdf_export_setting %></td>
    <td><%= link_to 'Edit', edit_pdf_export_setting_path(pdf_export_setting) %></td>
    <td><%= link_to 'Destroy', pdf_export_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pdf export setting', new_pdf_export_setting_path %>
